@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.45;
}

header {
  color: #ffffff;
  background-color: darkslategrey;
  padding: 80px 0;
  text-align: center;
}
h1 {
  font-size: 48px;
  margin: 0 0 16px 0;
}
h2 {
  font-weight: 300;
  font-size: 24px;
  margin: 0 0 16px 0;
}
.container {
  margin: 0 auto;
  padding: 0 20px 0 20px;
  max-width: 900px;
}
.btn {
  display: inline-block;
  color: white;
  font-weight: 500;
  font-size: 20px;
  background-color: #549da0;
  border: none;
  border-radius: 5px;
  padding: 12px 16px;
  cursor: pointer;
}
.btn:hover {
  background-color: #e67f0a;
}
.submenu {
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  position: absolute;
  background-color: #549da0;
  min-width: 160px;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none; /*To hide the submenu by default*/
}
.submenu a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.submenu a:hover {
  background-color: #e67f0a;
}
.active {
  display: block;
  transform: translate(50%, 0);
  transition: 0.5s;
}
section {
  text-align: center;
  padding: 40px 0;
}
.features {
  background-color: #ffffff;
  color: blue;
  font-weight: 700;
}
.feature {
  width: 32%;
  display: inline-block;
  font-size: 16px;
}
.feature img {
  width: 40%;
}
.quote {
  background-color: #549da0;
  color: #ffffff;
}
blockquote {
  margin: 0;
  padding: 0;
  text-align: center;
}
blockquote p {
  margin: 0 0 5px 0;
  font-size: 24px;
}
blockquote cite {
  font-size: 16px;
  font-style: italic;
}
blockquote cite:before {
  content: "-";
  margin-right: 5px;
}
footer {
  background-color: #353535;
  padding: 32px 0;
  text-align: center;
  color: #868686;
  font-size: 12px;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer li {
  display: inline-block;
}
footer li a {
  padding: 6px;
  font-size: 14px;
  text-decoration: none;
  color: #c3c3c3;
}
footer li a:hover {
  color: white;
}

/* Let's make it a responsive web app */
@media screen and (max-width: 480px) {
  body {
    background-color: chocolate;
  }
  .btn {
    display: block;
    font-size: 18px;
  }
  .submenu {
    width: 100%;
    position: relative;
  }
  h1 {
    font-size: 28px;
    margin: 0 0 8px 0;
  }
  h2 {
    font-size: 18px;
  }
  section {
    padding: 25px 0 15px 0;
  }
  .feature {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 0 0 10px 0;
    font-size: 16px;
  }
  .feature img {
    width: 15%;
    min-width: 60px;
    margin-right: 20px;
  }
  .container {
    display: flex;
    align-items: stretch;
  }
  .container div {
    flex: 1;
  }
  .quote {
    padding: 30px 0;
  }
  blockquote p {
    font-size: 18px;
  }
  blockquote cite {
    font-size: 14px;
  }
  footer {
    padding: 30px 0 10px 0;
  }
  footer li {
    display: block;
    margin: 5px 0;
  }
}
@keyframes morphin {
  0%,
  10% {
    box-shadow: #95a5a5 16px 16px, #95a5a6 48px 16px, #95a5a6 80px 16px;
  }
  90%,
  100% {
    box-shadow: #95a5a5 80px 16px, #95a5a6 16px 16px, #95a5a6 48px 16px;
  }
}
.pixel {
  display: inline-flex;
  height: 16px;
  width: 16px;
  margin: -16px 85px 16px -16px;
  animation: morphin 1676ms infinite cubic-bezier(0.45, 0, 0.55, 1);
}
